.estilo-menu {
  font-size: 22px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: -135px;
    li {
      background-color: rgb(222, 222, 222);
      border: solid 1px #ccc;
      border-right: none;
      list-style: none;
      display: inline-block;
      margin: 0;
      margin-left: 15px;
      border-bottom: 5px rgb(198, 205, 205) solid;
      &:last-child {
        border-right: solid 1px #ccc;
      }
      &:hover {
        background-color: rgb(239, 246, 246);
        color: #333;
        border-bottom: 5px rgb(198, 67, 61) solid ;
      }
    }
  }
  a {
    display: block;
    padding: 15px 10px 15px 20px;
    font-family: 'Staatliches', cursive;
    color: rgb(13, 110, 253);
    text-decoration: none;

    margin-left: 15px;
    margin-right: 26px;

  }
}

.rodape{
  position: absolute;
  text-align: center;
  display: block;
  background-color: rgb(234, 79, 71);
  padding-right: 100%;
  padding-top: 150%;
}
