<!DOCTYPE html>
<html>
  <head>
    <title>HTML CSS JS</title>
  </head>
  <body>

    <div class="linha">
      <div class="coluna-50" style="background-color: #66ffff">Conteúdo A</div>
      <div class="coluna-50" style="background-color: #ccffff">Conteúdo B</div>
    </div>

    <div class="linha">
      <div class="coluna-33" style="background-color: #66ffff">Conteúdo A</div>
      <div class="coluna-33" style="background-color: #ccffff">Conteúdo B</div>
      <div class="coluna-33" style="background-color: #66ffff">Conteúdo C</div>
    </div>

    <div class="linha">
       <div class="coluna-20" style="background-color: #66ffff">Conteúdo A</div>
       <div class="coluna-20" style="background-color: #ccffff">Conteúdo B</div>
       <div class="coluna-20" style="background-color: #66ffff">Conteúdo C</div>
       <div class="coluna-20" style="background-color: #ccffff">Conteúdo D</div>
       <div class="coluna-20" style="background-color: #66ffff">Conteúdo D</div>
    </div>

  </body>
</html>
