.linha{
  display: flex;
  flex-flow: row wrap;
  padding:10px;
}

.coluna-50 {
  width: 50%;
  text-align: center;
}

.coluna-33 {
   width: 33%;
   text-align: center;
}

.coluna-20 {
   width: 20%;
   text-align: center;
}
