.modal {
  position: absolute;
  //top: 400px;
  //left: 15vw;
  left: 15.4688vw !important;
  top: 456px !important;
  background-color: rgb(234, 79, 71);
  padding: 50px;
  border-bottom: 5px rgb(198, 67, 61) solid;

  .titulo-cadastro-modal {
    color: white;
    font-size: 20px;
    font-family: "Titan One", cursive;
    text-align: center;
  }
}

.espacobotao {
  width: 5px;
  padding-bottom: 35px;
  height: 20px;
}

table {
  .preco-qtd {
    display: flex;
    flex-flow: row nowrap;
    width: 100px;
    text-align: center;
    .pre-qtd {
      text-align: center;
      margin: 0px auto;
    }
  }
}

.addERem {
  display: flexbox;
  flex-flow: row wrap;
  .preco-qtdaddrem {
    text-align: center;
    margin: 0 auto;
    display: flex;

    .add-rem-select {
      background-color: rgb(222, 222, 222);
      color: #333;
      border-bottom: 5px rgb(198, 205, 205) solid;
      &:hover {
        background-color: rgb(239, 246, 246);
        border-bottom: 5px rgb(198, 67, 61) solid;
      }
    }
  }
}

.imagemButton {
  height: 100px;
}

.imagemComTexto {
  display: flex;
  flex-flow: row wrap;
  // margin-top: 90px;
  .textoH1 {
    text-align: center;
  }
}
//.addERem {
//  width: 5px;
//}
