<div class="grid">
  <div class="cadastro-tabela">
    <form class="campo-cadastro" [formGroup]="form" (ngSubmit)="cadastrar()">
      <div class="imagemComTexto">
        <img
          class="imgtext"
          src="../../assets/047-fruit.png"
          alt="Girl in a jacket"
          width="100"
          height="100"
        />
        <h1 class="textoH1" class="titulo-cadastro">CADASTRAR CARRINHO</h1>
      </div>
      <select formControlName="idCliente">
        <option value="">Selecione um Cliente</option>
        <option *ngFor="let cliente of clientes" value="{{ cliente.id }}">
          {{ cliente.nome }}
        </option>
      </select>

      <button type="submit" [disabled]="!form.valid">Cadastrar</button>
    </form>
  </div>

  <div class="cadastro-tabela">
    <table>
      <tr class="tabela">
        <th>CLIENTE</th>
        <th>STATUS</th>
        <th>TOTAL</th>
        <th></th>
      </tr>

      <tr *ngFor="let carrinho of carrinhos">
        <td>
          {{ carrinho.cliente.nome }}
          <tr>
            <th>NOME PRODUTO</th>
            <!--nome-->
          </tr>

          <tr *ngFor="let produto of carrinho.produtos">
            <td *ngIf="produto.tipo === 'MERCEARIA'">
              <img
                src="../../assets/mercearia.png"
                alt="Girl in a jacket"
                width="15"
                height="15"
              />
              {{ produto.nome }}
            </td>
            <td *ngIf="produto.tipo === 'BELEZA_PERFUMARIA'">
              <img
                src="../../assets/perfume.png"
                alt="Girl in a jacket"
                width="15"
                height="15"
              />
              {{ produto.nome }}
            </td>
            <td *ngIf="produto.tipo === 'HIGIENE'">
              <img
                src="../../assets/higiene.png"
                alt="Girl in a jacket"
                width="15"
                height="15"
              />
              {{ produto.nome }}
            </td>
          </tr>
          <hr />
        </td>

        <td>
          {{ carrinho.status }}
          <tr>
            <th>PREÇO</th>
            <!--PREÇO-->
          </tr>
          <tr *ngFor="let produto of carrinho.produtos">
            <td>
              {{ produto.preco | currency: "BRL" }}
            </td>
          </tr>
          <hr />
        </td>

        <td>
          {{ carrinho.total | currency: "BRL" }}
          <tr>
            <th>TIPO</th>
            <!--tipo-->
          </tr>
          <tr *ngFor="let produto of carrinho.produtos">
            <td>
              {{ produto.tipo }}
            </td>
          </tr>
          <hr />
        </td>

        <td>
          <button
            class="imagemButton"
            *ngIf="
              carrinho.status === 'VAZIO' ||
              carrinho.status === 'AGUARDANDO_PAGAMENTO'
            "
            (click)="mostrarModal(carrinho)"
          >
            <img
              src="../../assets/cestinha.png"
              alt="Girl in a jacket"
              width="20"
              height="20"
            />
          </button>

          <button
            class="imagemButton"
            *ngIf="
              carrinho.status === 'VAZIO' ||
              carrinho.status === 'AGUARDANDO_PAGAMENTO'
            "
            (click)="pagar()"
            (click)="apagar(carrinho)"
          >
            <img
              src="../../assets/excluir.png"
              alt="Girl in a jacket"
              width="20"
              height="20"
            />
          </button>
          <button
            class="imagemButton"
            *ngIf="carrinho.status === 'AGUARDANDO_PAGAMENTO'"
            (click)="mostrarModalPagar(carrinho)"
          >
            <img
              src="../../assets/cartao.png"
              alt="Girl in a jacket"
              width="20"
              height="20"
            />
          </button>
        </td>
      </tr>
    </table>
  </div>

  <form
    *ngIf="formAddProduto.controls['id'].value && modal"
    class="modal"
    [formGroup]="formAddProduto"
    (ngSubmit)="add()"
  >
    <h1 class="titulo-cadastro-modal">ADICIONAR PRODUTO</h1>
    <select formControlName="idProduto">
      <optgroup label="Produtos">
        <option *ngFor="let item of produtos" value="{{ item.id }}">
          {{ item.nome }}
        </option>
      </optgroup>
    </select>
    <button type="submit" [disabled]="!formAddProduto.valid">Adicionar</button>
    <button type="button" (click)="fecharModal()">Cancelar</button>
  </form>

  <form
    *ngIf="formPagar.controls['id'].value && modalPagar"
    class="modal"
    [formGroup]="formPagar"
    (ngSubmit)="pagar()"
  >
    <h1 class="titulo-cadastro-modal">PAGAMENTO</h1>
    <select formControlName="formaPagamentoEnum">
      <option value="CREDITO">CREDITO</option>
      <option value="DEBITO">DEBITO</option>
    </select>
    <button type="submit" [disabled]="!formPagar.valid">Pagar</button>
    <button type="button" (click)="fecharModalPagar()">Cancelar</button>
  </form>
</div>
