.titulo-principal {
  padding: 35px 0 70px 0;
  margin-bottom: 110px;

  color: white;
  font-size: 50px;
  font-family: 'Titan One', cursive;
  text-align: center;
  background-color: rgb(234, 79, 71);
  border-bottom: 5px rgb(198, 67, 61) solid ;
  height: 35px;
}
