@import "theme.scss";

.container {
  // position: fixed;
  // display: grid;
  // grid-template-columns: 3fr 1fr;
  // grid-template-rows: 15vh;
  // grid-template-areas: "footer footer";
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  //grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "footer footer";
}

footer {
  background: $primary-color;
  grid-area: footer;
  width: 100%;
  height: 100px;
}
