.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "main aside";
  grid-column-gap: 0px;
  grid-row-gap: 5px;
}

main {
  // background: blue;
  grid-area: main;
  height: 100vh;
}

aside {
  // background: green;
  grid-area: aside;
}
